section.profile-container {
    height: 40rem;
}

@media only screen and (max-height: 650px) {
    section.profile-container {
        height: 90%;
    }
}

div.subordinate-container, div.user-settings-container{
    height: 100%;
}

div.subordinate-container > .user-list-container {
    height: 100%;
}

div.subordinate-search-container > p {
    position: relative;
}


section.homeuser-menu-container > div:last-child  div.subordinate-search-container div.user-list-container {
    left: 0;
    top: 3rem;
}

div.subordinate-search-container > p > div.user-list-container {
    position: absolute;
    background-color: darkkhaki;
    top: 1.5rem;
    left: 8rem;
    width: 20rem;
}

div.subordinate-search-container > div.user-list-container > ul.user-list {
    background-color: wheat;
}

div.subordinate-search-container > div.user-list-container li {
    box-shadow: none;
}