header {
    height: 5rem;
    width: 100%;
    background-color: lavenderblush;
    flex-shrink: 0;
}

header.landingpage-header {
    top: 0;
    position: fixed;
    z-index: 1000000000;
}

header > div > div.icon {
    font-size: 3rem;
    font-weight: bolder;
}

header > div.universal-container {
    height: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

div.searchbar-container, ul.nav-list {
    position: relative;
    z-index: 10000;
}

div.searchbar-container > p {
    width: 25rem;
}

div.searchbar-container > p > input {
    margin: 1rem 0;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.header-search.document-list-container {
    position: absolute;
    top: 3.2rem;
    width: 25rem;
    font-size: 1.4rem;
    background-color: blanchedalmond;
}

.header-search.document-list-container > ul > li:hover {
    background-color: blueviolet;
}

@media only screen and (max-width: 600px) {
    p.searchbar-container > input {
        width: 15rem;
    }

    .header-search.document-list-container {
        width: 100%;
    }
}

ul.nav-list > li {
    margin-right: 2rem;
}

ul.nav-list > li > button {
    padding: .25rem .5rem;
}

div.profile-panel {
    opacity: 0;
    z-index: 0;
    top: 4rem;
    right: 1vw;
    position: fixed;
    width: 7rem;
    background-color: black;
    transition: all .4s;
}

div.profile-panel.active {
    opacity: 1;
    z-index: 10;
    transform: translate(0, .5rem);
}

div.profile-panel > ul {
    z-index: 10;
    list-style: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, .4);
    flex-direction: column;
    align-items: stretch;
}

div.profile-panel button {
    margin-left: .5rem;
}

.burger {
    position: relative;
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.burger:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 5rem;
    width: 10rem;
    top: -.5rem;
    right: -15rem;
    /* background-color: bisque; */
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top: .2rem solid sandybrown;
    border-bottom: .2rem solid sandybrown;
    border-left: .1rem solid sandybrown;
}

.burger.-signed:before {
    transition: transform .4s ease-in;
    transform: translateX(-11rem);
}

.burger.-signed {
    transition: .2s ease-in;
}

.burger.-signed.-open {
    padding-right: 16.5rem;
}

.burger.-signed:before {
    transition: width .2s ease-in;
}

.burger.-signed.-open:before{
    width: 22rem;
}

@media only screen and (max-width: 1050px) {
    header .burger {
        display: inherit;
    }

    ul.nav-list.not-signed-list-con {
        position: absolute;
        top: 5rem;
        right: -55vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: calc(100vh - 5rem);
        width: 50vw;
        background-color: lavenderblush;
        transition: transform .7s ease-in-out;
    }

    ul.nav-list.not-signed-list-con.-open {
        transform: translateX(-52vw);
    }

    ul.nav-list.signed-list-con {
        position: absolute;
        right: -15rem;
        transition: transform .2s ease-in-out;
    }

    ul.nav-list.signed-list-con.-open {
        transition: transform .6s ease-in-out;
        transform: translateX(-15rem);
    }

    ul.nav-list.signed-list-con > li {
        margin: .5rem;
        height: 4rem;
    }

    ul.nav-list.signed-list-con > li > button {
        height: 100%;
    }
}

@media only screen and (max-width: 650px) {
    ul.nav-list.not-signed-list-con {
        width: 100vw;
        right: -103vw;
    }

    ul.nav-list.not-signed-list-con.-open {
        transform: translateX(-100vw);
    }
}

.burger:hover {
    animation: burger_hover .2s;
}

@keyframes burger_hover {
    50% {
        transform: translateY(-.2rem);
    }

    100% {
        transform: translateY(0);
    }
}

.burger > span {
    height: 1rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: green;
    transition: transform .1s ease;
}

.burger.-open > span:nth-child(1) {
    transform: rotate(-45deg) translate(-1.1rem, 1rem);

}

.burger.-open > span:nth-child(2) {
    opacity: 0;
}

.burger.-open > span:nth-child(3) {
    transform: rotate(45deg) translate(-1.1rem, -1rem);
}