header {
    height: 2.5rem;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

header.landingpage-header {
    justify-content: center;
}

p.searchbar-container > input {
    width: 25rem;
}

@media only screen and (max-width: 600px) {
    p.searchbar-container > input {
        width: 15rem;
    }
}

ul {
    width: 100%;
    list-style: none;
    justify-content: space-between;
}

ul > li {
    margin-right: 2rem;
}

ul > li > button {
    width: 150%;
}