header {
    height: 5rem;
    width: 100%;
    background-color: rgba(0, 120, 150, 1);
    flex-shrink: 0;
}

header.landingpage-header {
    top: 0;
    position: fixed;
    z-index: 1000000000;
}

header > div > div.icon {
    font-size: 3rem;
    font-weight: bolder;
}

header > div.universal-container {
    height: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

div.searchbar-container, ul.nav-list {
    position: relative;
    z-index: 1000
}

div.searchbar-container > p {
    width: 25rem;
}

div.searchbar-container > p > input {
    margin: 1rem 0;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.header-search.document-list-container {
    position: absolute;
    top: 3.2rem;
    width: 25rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, .75);
    padding: .25rem .5rem .5rem .5rem;
    text-align: center;
}

.header-search.document-list-container > ul {
    max-height: 10rem;
}

.header-search.document-list-container > ul > li {
    height: 2rem;
    background-color: rgba(0, 120, 150, 1);
    box-shadow: 0 0 .25rem black;
    color: white;
    cursor: pointer;

}

.header-search.document-list-container > ul > li:hover {
    color: black;
}

@media only screen and (max-width: 650px) {
    div.searchbar-container > p {
        width: 15rem;
    }

    .header-search.document-list-container {
        width: 100%;
    }
}

ul.nav-list, ul.nav-list > li {
    height: 100%;
}

ul.nav-list > li {
    display: flex;
    justify-content: end;
}

ul.nav-list > li > button {
    background: none;
    border: none;
    height: 100%;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 0 0 2rem;
    color: rgba(255, 255, 255, 15);
    text-shadow: .1rem .1rem .5rem black;
}

ul.nav-list > li > button:hover {
    color: rgba(255, 50, 100, 1);
    text-shadow: .2rem 0 .5rem black;
}

ul.nav-list > li > button:active {
    color: black;
}

ul.nav-list > li > button:disabled {
    cursor:not-allowed;
    color: rgba(255, 50, 100, 1);
    text-shadow: none;
}

ul.nav-list > li:nth-child(2) {
    margin-left: 2rem;
}

ul.nav-list.not-signed-list-con > li {
    width: 9vw;
}

ul.nav-list.not-signed-list-con > li:nth-child(2) {
    margin: 0 15vw 0 15vw;
}

ul.nav-list.not-signed-list-con > li > button {
    font-size: 2.5rem;
}

.burger {
    position: relative;
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.burger:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 5rem;
    width: 10rem;
    top: -.5rem;
    right: -30rem;
    /* background-color: bisque; */
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top: .2rem solid sandybrown;
    border-bottom: .2rem solid sandybrown;
    border-left: .1rem solid sandybrown;
}

.burger.-signed:before {
    transition: transform .4s ease-in;
    transform: translateX(0);
}

.burger.-signed {
    transition: .2s ease-in;
}

.burger.-signed.-open {
    padding-right: 14rem;
}

.burger.-signed:before {
    transition: width .2s ease-in;
}

.burger.-signed.-open:before{
    width: 40rem;
}

@media only screen and (max-width: 1050px) {
    header.-open {
        transition: all .2s ease;
        background: rgba(0, 120, 120, 1);
        box-shadow: 0 .4rem .5rem black;
    }
    
    header .burger {
        display: inherit;
    }

    ul.nav-list.not-signed-list-con {
        position: absolute;
        top: 5rem;
        right: -70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: calc(100vh - 5rem);
        width: 60vw;
        background-color: rgba(0, 120, 120, 1);
        box-shadow: 0 .8rem .5rem black;
        transition: transform .7s ease-in-out;
    }

    ul.nav-list.not-signed-list-con.-open {
        transform: translateX(-60vw);
    }

    ul.nav-list.not-signed-list-con > li {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    ul.nav-list.not-signed-list-con > li > button {
        height: 4rem;
        padding: 0;
        margin: 0;
    }

    ul.nav-list.signed-list-con > li > button {
        padding: 0;
        font-size: 2rem;
        padding-right: .5rem;
    }

    ul.nav-list.signed-list-con {
        position: absolute;
        right: -25rem;
        transition: transform .2s ease-in-out;
    }

    ul.nav-list.signed-list-con.-open {
        transition: transform .6s ease-in-out;
        transform: translateX(-20rem);
    }

    ul.nav-list.signed-list-con > li {
        margin: .5rem;
        height: 4rem;
    }
}

@media only screen and (max-width: 850px) {
    ul.nav-list.not-signed-list-con {
        width: 100vw;
        right: -110vw;
    }

    ul.nav-list.not-signed-list-con.-open {
        transform: translateX(-100vw);
    }
}

.burger:hover {
    animation: burger_hover .2s;
}

@keyframes burger_hover {
    50% {
        transform: translateY(-.2rem);
    }

    100% {
        transform: translateY(0);
    }
}

.burger > span {
    height: 1rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: rgba(255, 50, 100, 1);
    transition: transform .1s ease;
}

.burger.-open > span:nth-child(1) {
    transform: rotate(-45deg) translate(-1.1rem, 1rem);

}

.burger.-open > span:nth-child(2) {
    opacity: 0;
}

.burger.-open > span:nth-child(3) {
    transform: rotate(45deg) translate(-1.1rem, -1rem);
}

.navigate-top {
    position: fixed;
    width: 4rem;
    height: 4rem;
    left: 92%;
    bottom: 1rem;
    opacity: 0;
    transition: all .25s ease-in;
    z-index: 0;
}

.navigate-top.active {
    opacity: 1;
    z-index: 50;
}

@media only screen and (max-width: 1000px) {
    .navigate-top {
        left: 88%;
    }
}

@media only screen and (max-width: 620px) {
    .navigate-top {
        left: 82%;
    }
}

.navigate-top::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -4rem;
    left: -2rem;
    border-bottom: 8rem solid rgba(255, 50, 100, 1);
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
}

.navigate-top > p {
    height: 100%;
    width: 100%;
}

.navigate-top > p > button {
    position: absolute;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 50, 100, 1);
    border-radius: 20rem;
    box-shadow: 0 0 .5rem black;
    top: -.5rem;
    font-size: 2rem;
    cursor: default;
}

.navigate-top.active button {
    cursor: pointer;
}

.navigate-top > p > button:hover {
    transform: scale(1.1);
}

.navigate-top > p > button:active {
    transform: scale(.8);
}