main.landingpage-container > div.universal-container {
    justify-content: center;
}

main.landingpage-container > div.universal-container >  form.land-page-form {
    position: relative;
    margin-top: 10rem;
    height: 30rem;
    width: 50rem;
    box-shadow: 0 0 3px black;
    padding: 3rem 1rem;
    transition: .25s all;
}

main.landingpage-container > div.universal-container >  form.login-container {
    margin-top: 5rem;
    height: 20rem;
}

@media only screen and (max-width: 750px) {
    article.landingpage-container  form.land-page-form {
        width: 100%;
    }
    
}

main.landingpage-container  form.land-page-form > p {
    display: flex;
    font-size: 2rem;
    line-height: 1.75rem;
    margin: .25rem 0;
}

main.landingpage-container  form.land-page-form > p > label {
    flex: 1;
}

main.landingpage-container  form.land-page-form > p > input {
    flex: 2;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

main.landingpage-container  form.land-page-form > p:last-child {
    width: 90%;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

main.landingpage-container  form.land-page-form > p:last-child > button {
    margin-left: 1rem;
    padding: .1rem .25rem;
}

