.fd {
  display: flex;
}

div#root {
  height: 100%;
  flex-direction: column;
}

article {
  flex: 10;
}

footer {
  text-align: center;
  font-size: .6rem;
}

ul {
  list-style: none;
}

.pop-up-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
}

.pop-up-bg > aside {
  margin-top: 20vh;
  z-index: 1000;
  height: 30rem;
  width: 25rem;
  background-color: rosybrown;
}

.universal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  justify-content: center;
}