.fd {
  display: flex;
}

div#root {
  height: 100%;
  flex-direction: column;
  position: relative;
}

ul {
  list-style: none;
}

.pop-up-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
}

.pop-up-bg > aside {
  padding: 1rem 2rem;
  margin-top: 20vh;
  z-index: 1000;
  height: 30rem;
  width: 25rem;
  background-color: rosybrown;
}

.universal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  justify-content: center;
}

.universal-container {
  max-width: 80vw;
  margin: 0 10vw;
}

.border-rad {
  border-radius: 5rem;
}

/* @media only screen and (max-width: 1050px) {
  .universal-container {
    max-width: 98vw;
    margin: 0 1vw;
  }
} */