aside.pop-document-page {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 120, 120, .75);
    height: 40rem;
    width: 40rem;
    font-size: 1.2rem;
}

aside.pop-document-page > div.user-list-container > ul {
    overflow-y: scroll;
}