main.homepage-container > div > section.central-container {
    width: 100%;
    padding: 1rem .5rem;
}

.document-central.document-list {
    font-size: 2rem;
}

.document-central.document-list > li{
    background-color:lightblue;
    margin: .5rem 0 .5rem 0;
    padding: .25rem 0 .25rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem black;
    cursor: pointer;
}

.document-central.document-list > li.is-pinned {
    background-color: mediumspringgreen;
}


aside.pop-document-page {
    height: 10rem;
    width: 20rem;
    background-color: gainsboro;
}

div.side-user-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}