article.document-container  {
    width: 100%;
    background-color: grey;
    flex-direction: column;
    align-items: center;
    position: relative;
}

article.document-container > p.doc-btn-container {
    right: 0;
    top: 0;
    height: 4rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}

@media only screen and (max-width: 1210px) {
    article.document-container > p.doc-btn-container {
        justify-content: flex-start;
        left: 0;
        margin-left: .25rem;
        margin-top: 4rem;
        z-index: 1;
    }

    article.document-container > div.ck-toolbar {
        z-index: 2;
    }

    article.document-container > div.ck-content {
        transition: transform .2s ease-in-out;
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 1050px) {
    article.document-container > div.ck-content {
        margin-top: -6rem;
        transform: scale(.8);
    }
}

@media only screen and (max-width: 840px) {
    article.document-container > div.ck-content {
        margin-top: -12rem;
        transform: scale(.7);
    }
}

@media only screen and (max-width: 715px) {
    article.document-container > div.ck-content {
        margin-top: -16rem;
        transform: scale(.6)
    }
}

@media only screen and (max-width: 635px) {
    article.document-container > div.ck-content {
        margin-top: -22rem;
        transform: scale(.45)
    }
}

p.doc-btn-container > button {
    margin: 0 .15rem;
}

article.document-container > div.ck-toolbar {
    position: sticky;
    top: 0;
    width: 100%;
}

.document-container > div.ck-content {
    background-color: rgba(250, 250, 250);
    width: 8.27in;
    height: 11.69in;
    margin: 1rem;
    padding: 1in;
    font-size: 9px;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .4);
}