div.user-menu-bg {
    z-index: 11;
}

section.user-menu {
    margin-top: 5rem;
    height: 50rem;
    width: 40rem;
    background-color: bisque;
    padding: .5rem 1rem 2rem 1rem;
    flex-direction: column;
    position: relative;
}

section.homeuser-menu-container {
    z-index: 0;
    padding: 0 .5rem;
    height: 100%;
    width: 50%;
    background-color: darkgrey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.3rem;
    animation: home_menu_anim_con .5s ;
}

@keyframes home_menu_anim_con {
    0% {
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(0);
    }
}

section.homeuser-menu-container > div {
    height: 100%;
    flex-direction: column;
}

section.homeuser-menu-container > div:last-child > .subordinate-container {
    display: flex;
    flex-direction: column;
}

.user-list-container {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

ul.user-list {
    height: 100%;
    flex-direction: column;
    padding: 0 .25rem;
}

ul.user-list > li {
    width: 100%;
    padding: .1rem;
    justify-content: center;
    margin: .1rem 0;
    box-shadow: 0 0 .1rem black;
}

ul.user-list > li {
    pointer-events: none;
}

ul.user-list > li > p {
    pointer-events: auto;
}

ul.user-list > li:hover {
    background-color: rgba(255, 255, 255, .4);
}

ul.user-list > li > p {
    cursor: pointer;
}