div.user-menu-bg {
    z-index: 11;
}

section.user-menu {
    margin-top: 5rem;
    height: 60vh;
    width: 40rem;
    background-color: rgba(0, 120, 120, 1);
    padding: .5rem 1rem 2rem 1rem;
    flex-direction: column;
    position: relative;
}

@media only screen and (max-height: 720px) {
    section.user-menu {
        height: 70vh;
    }
}

section.homeuser-menu-container {
    z-index: 0;
    padding: 0 .5rem;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 120, 150, 1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.3rem;
    animation: home_menu_anim_con .5s ;
}

@keyframes home_menu_anim_con {
    0% {
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(0);
    }
}

section.homeuser-menu-container > div {
    height: 100%;
    flex-direction: column;
}

section.homeuser-menu-container > div:last-child > .subordinate-container {
    display: flex;
    flex-direction: column;
}

.user-list-container {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

ul.user-list {
    height: 100%;
    flex-direction: column;
    padding: 0 .25rem;
}

ul.user-list > li {
    width: 100%;
    padding: .1rem;
    justify-content: center;
    margin: .25rem 0;
    box-shadow: 0 0 .4rem black;
}

ul.user-list > li {
    pointer-events: none;
}

ul.user-list > li > p {
    pointer-events: auto;
    cursor: pointer;
}

ul.user-list > li:hover {
    background-color: rgba(255, 50, 100, 1);
    box-shadow: 0 0 .4rem white;
}

ul.user-list > li > p:hover {
    text-shadow: 0 0 .3rem black;
    color: white;
}

ul.user-list > li.inactive {
    background-color: rgba(255, 100, 150, 1);
}

ul.user-list > li.inactive:hover {
    background-color: black;
}

ul.user-list > li.inactive > p:hover {
    color: rgba(255, 50, 100, 1);
}